
# Flutter
/mobile/.dart_tool/
/mobile/.idea/
/mobile/.vscode/
/mobile/build/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/pubspec.lock
/mobile/android/.gradle/
/mobile/ios/Pods/

